.percentages{
	/*display: inline-block;
	padding-left: 31%;
	padding-right: 31%; */
	/*position: absolute;
	max-width: 480px; */
	margin-left: auto;
  margin-right: auto;
  display: table;
	
}

.percentage{
	display: inline;
	padding-right: 4%;
}

.current_attendance{
	padding-top: 10%;
}